html {
	font-family: sans-serif;
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 10%;
}

.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 5.5%;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	color: #555;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

.header ul {
	position: relative;
	float: right;
	top: 30%;
	right: 3%;
	
}

.footer span {
	position: relative;
	font-size: 84%;
	top: 35%;
}


.footer-left {
	float: left;
	max-width: 40%;
}

.footer-right {
	float: right;
	max-width: 40%;
}

.header li {
	display: inline;
	padding: 0.5em;
	font-size: 85%;
}

.footer-left a {
	display: inline;
	padding-left: 2em;
}

.footer-right a {
	display: inline;
	padding-right: 2em;
}

.sign-in {
	border-radius: 10%;
	background-color: #55f;
	color: #fff;
}